/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0px; /*40px;*/
  color: #999;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #d3b866;
  color: #fff;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a.unstyled {
  text-decoration: none;
  outline: none;
}

header.container-fluid {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 151px;
}
header.container-fluid .row.white {
  background: url(../images/header-bg.jpg) no-repeat;
  background-size: cover;
}

#navbar {
  margin-top: 0;
}

div.home-intro {
    background-color : #171717;
    background-color : white;
    margin-bottom    : 60px;
    overflow         : hidden;
    padding          : 20px 0 10px;
    position         : relative;
    text-align       : left;
    color            : #fff;
    color            : #171717;
    /*display          : table;
    height           : 450px;*/
}
div.home-intro p {
  margin-top: 20px;
  display: none;
}
div.home-intro p em {
    color: #33cc00;
}
div.home-intro p em {
    font-family: "Shadows Into Light",cursive;
    font-size: 1.6em;
    letter-spacing: 0.15em;
}

footer {
 background: none repeat scroll 0 0 #121214;
 border-top: 4px solid #1f1f1f;
 font-size: 0.9em;
 margin-top: 70px;
 padding: 80px 0 0;
 position: relative;
}
footer.footer {
  position: relative;
  //background-color : #171717;
}
footer div.footer-ribon:before {
  /*border-right: 10px solid #646464;*/
  border-right: 10px solid #857b5e;
  border-top: 16px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -10px;
  position: absolute;
  top: 0;
  width: 7px;
}
footer div.footer-ribon:before {
  /*border-right-color: #336600;*/
  border-right-color: #857b5e;
}
footer div.footer-ribon {
  /*background: none repeat scroll 0 0 #339900;*/
  background: none repeat scroll 0 0 #d3b866;
  margin: -100px 0 0;
  padding: 10px 20px 6px;
  position: relative;
  width: 200px;
}
footer div.footer-ribon span {
  color: #fff;
  font-family: "Shadows Into Light",cursive;
  font-size: 1.6em;
  letter-spacing: 0.15em;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
#logo {
  /*background-color: black;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 303;*/
}
#logo div {
    /*position: absolute;
    z-index: 303;*/
}
#logo {
  padding-top: : 5px;
  padding-bottom: 0;
  padding-left: 15px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  /*position: absolute;*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0px;
  padding-left: 0px;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar.navbar-inverse {
    /*background-color: rgba(0, 0, 0, 1);*/
}
.navbar-wrapper .navbar.navbar-inverse a {
    color: white;
}
.navbar-wrapper .navbar.navbar-inverse .dropdown-menu {
    background-color: rgba(0, 0, 0, 1);
    left: -60px;
}
.navbar-wrapper .navbar.navbar-inverse .dropdown-menu a {
    color: #fff;
}
.navbar-wrapper .navbar.navbar-inverse .dropdown-menu a:hover {
    background-color: rgba(204, 204, 204, 0.8);
    color: black;
}
.navbar-wrapper .row.white {
	background-color: white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 540px;
  /*margin-botom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 540px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*min-width: 1140px;*/
  height: 540px;
}

.carousel.carousel-hotel {
  height: auto;
}
/* Declare heights because of positioning of img element */
.carousel.carousel-hotel .item {
  height: 150px;
}
.carousel.carousel-hotel .carousel-inner > .item > img {
  width: 100%;
  min-width: 100%;
  height: auto;
}
.carousel.carousel-hotel .carousel-indicators {
  bottom: -5px;
}

/**
 * Google Maps
 */
.geofieldMap a[title="Haz clic aquí para visualizar esta zona en Google Maps"] {
  display: none !important;
}
.geofieldMap a[content="Datos de mapa"] {
  /*display: none !important;*/
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/**
 * Flexslider Zoom Gallery
 */
.popup-gallery img {
  -webkit-transition: all 0.25s ease-in-out 0;
  -moz-transition: all 0.25s ease-in-out 0;
  -o-transition: all 0.25s ease-in-out 0;
  transition: all 0.25s ease-in-out 0s;
}
.popup-gallery a:hover img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5)
  transform: scale(1.5);
  z-index: 100;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-figure > figure {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: block;
	height: auto;
	line-height: 1.42857;
	margin-bottom: 20px;
	max-width: 100%;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}

/**
 * Eventos
 */
div.recent-posts h4{margin-bottom:2px;}
div.recent-posts div.date{float:left;margin-right:10px;margin-top:8px;text-align:center;}
div.recent-posts div.date span.month{-moz-border-radius:0 0 2px 2px;-moz-box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;-webkit-border-radius:0 0 2px 2px;-webkit-box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;background:#CCC;border-radius:0 0 2px 2px;box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;color:#FFFFFF;font-size:0.9em;padding:0 10px 2px;}
div.recent-posts div.date span.day{background:#FFF;color:#CCC;display:block;font-size:18px;font-weight:500;font-weight:bold;padding:8px;}
div.recent-posts article {
  border: solid 1px #ccc;
  padding: 1em;
  min-height: 12em;
  border-radius: 9px;
}
div.recent-posts article h4{margin:0 0 0.8em 0; color: #333;}
div.recent-posts article h4 a{display:block;}
div.recent-posts div.date span.month,article.post div.post-date span.month{background-color:#d3b866;}
div.recent-posts div.date span.day,article.post div.post-date span.day{color:#d3b866;}
div.recent-posts .btn-more {
  padding: 1em;
}

/**
 * Revolution Slider
 */
div.slider-container,
div.slider-container>div.slider>div.tp-bannertimer {
  /*margin-left:-20px;
  margin-right:-20px;
  padding-left:20px;
  padding-right:20px;*/
}
div.slider-container{background:#666; width:100%;  heiight:350px; min-heiight:350px; overflow:hidden;padding:0;position:relative;}
div.slider-container ul{list-style:none;margin:0;padding:0;width:100%;heiight:350px; min-heiight:350;}
div.slider{position:relative;}
div.slider div.tp-bannertimer{background-color:rgb(211,184,102);color:rgb(211,184,102);background-position:0 -13px;bottom:0;height:4px;}
div.slider-container{background:#171717;}
div.slider-container div.caption{filter:alpha(opacity=0);opacity:0;}
div.slider-container div.top-label{
	color: #FFF;
	font-size: 36px;
	font-weight: 300;
}
div.slider-container div.main-label{
	color: #FFF;
	font-size: 36px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}
div.slider-container div.bottom-label{
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
}
div.slider-container div.caption a,div.slider-container div.caption a:hover{color:#FFF;}

.fullwidthbanner-container {
  margin-top: -58px;
}

/**
 * Hoteles
 */
#block-views-hoteles-block-1 strong.h3 {
  font-weight: 600;
}
#block-views-hoteles-block-1 .panel-info .panel-heading {
  padding-top: 3px;
  padding-bottom: 0;
}
#block-views-hoteles-block-1 .panel,
#block-views-agroturismos-block .panel,
#block-views-pensiones-block .panel,
#block-views-casas-rurales-block .panel,
#block-views-albergues-block .panel {
  -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  margin-bottom: 2em;
}

/**
 * Headers links
 */
 .header-links ul {
  	margin-top: 5px;
 }
 .header-links ul.nav {
  	margin-top: 15px;
  	margin-bottom: 15px;
 }
 .header-links, .header-links a {
 	color: white;
 }
 .header-links, .header-links a:hover {
 	color: black;
 }
 .header-links .nav > li > a {
   padding: 5px 7px;
 }
 
 /**
  * Titulos del front
  */
  .caja-titulos-front {
  	/*padding-right: 90px;*/
  	min-height: 5em;
  	 -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 3px;
  }
  .caja-titulos-front:hover {
  	background-color: gray;
  }
  .caja-titulos-front p {
    color: gray;
    /*background-color: white*/
 }
 .caja-titulos-front:hover p {
 	 color: white;
    
} 

/**
 * Playas
 */
 .jumbotron ul.h5 li {
 line-height: 1.4em;
 margin-bottom: 0.4em;
 }
 
 /**
  * Patrimonio isotopo
  */
  .filter-items {
    overflow: visible !important;
  }
  .isotope-item {
    margin-top: 30px;
  }
  .isotope-item > div {
    padding: 0.5em;
  }
  .isotope-item > div:hover {
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  .isotope-item > div a {
    outline: none;
    text-decoration: none;
    color: rgb(153,153,153);
  }
/*
  .isotope-item > div {
  	margin-bottom: 2em;
  	overflow: visible;
  	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.7);
   -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.7);
   box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.7);
  }
  .isotope-item img {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -ie-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  */
  .isotope-item .item-title {
  	margin-top: 1.8em;
    min-height: 4.7em;
    overflow: visible;
    //font-family: 'Permanent Marker', cursive;
  }
  .isotope-item .breadcrumb.excerpt {
    min-height: 10em;
  }
  /*
  .isotope-item .item-title h4 {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.05em;
  }
  .isotope-item .item-title a {
    color: #845d5d;
    }
  .isotope-item .item-categoria {
  position: relative;
  z-index: 5;
  }
  .isotope-item .item-categoria div {
  	text-align: right;
  	}
  .isotope-item .item-categoria div a {
  padding: 0.2em 0.5em;
  background-color: #d3b866;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
  }
*/

/**
 * Vista restaurantes
 */
.panel-group .container.restaurantes .panel,
.container.restaurantes .fotos,
.container.restaurantes .geo {
  margin-top: 1em;
  margin-bottom: 1em;
}/**
 * Vista restaurantes
 */
.panel-group .container.restaurantes .panel,
.container.restaurantes .fotos,
.container.restaurantes .geo {
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Vista bares
 */
.panel-group .container.bares .panel,
.container.bares .fotos,
.container.bares .geo {
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Vista comercios
 */
.panel-group .container.comercios .panel,
.container.comercios .fotos,
.container.comercios .geo {
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Content language links
 *
 * Están activos por defevto y no se pueden desactivar debido a
 * un bug. Los desactivo por css
 * */
li[class^="translation_"] {
  display: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .navbar-wrapper .pull-left {
    float: right !important;
  }

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    position: fixed;
    /*margin-top: 130px;*/
    /*margin-top: 20px;*/
    z-index: 302;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 15px; /*0;*/
    padding-left:  15px; /*0;*/
    border-top: solid 0.3ebom #d3b866;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .navbar-wrapper .navbar.navbar-inverse {
    background-color: black;
    /*background-color: rgba(0, 0, 0, 0);*/
    border-color: black;
    border-top: solid 0.1em #d3b866;
  }

  /*.navbar-wrapperX .navbar-headerX, 
  .navbar-wrapper .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: solid 1px #666;
  }*/



  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  /* Declare heights because of positioning of img element */
  .carousel.carousel-hotel .item {
    /*height: 540px;*/
    height: 20em;
  }

  .row.visitas h2 {
    min-height: 2.5em;
  }
  .row.visitas p.cuerpo {
    min-height: 12em;
  }

  .fullwidthbanner-container {
    margin-top: 0px;
  }
}



@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

  /* Declare heights because of positioning of img element */
  .carousel.carousel-hotel .item {
    height: 256px;
  }
  
  #languages {
  	padding-top: 2.8em;
  }

}

@media (min-width: 1200px) {
  /* Declare heights because of positioning of img element */
  .carousel.carousel-hotel .item {
    height: 300px;
  }
  /*.row.visitas h2 {
    min-height: 0;
  }
  .row.visitas p.cuerpo {
    min-height: 0;
  }*/
}
